.end-bar {
    width: 100%;
    height: 0.1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    border: 1px groove var(--white);
}

.main-content {
    margin: 0 15rem 0 22rem;
}

@media (max-width: 1200px) {
    .main-content {
        margin: 0 15rem;
    }
}

@media (max-width: 1024px) {
    .main-content {
        margin: 0 12rem;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin: 0 8rem;
    }
}

@media (max-width: 600px) {
    .main-content {
        margin: 0 5rem;
    }
}

@media (max-width: 480px) {
    .main-content {
        margin: 0;
    }
}