.post-navigator {
    display: flex;
    justify-content: space-between;
    margin: 0 13rem 5rem 13rem;
}

.next-post, .prev-post {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: url("/pointer.png"), pointer !important;
    transition: transform 0.15s, color 0.15s;
}

.next-post p, .prev-post p {
    max-width: 25rem;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.next-post:hover, .prev-post:hover {
    transform: scale(1.15);
}

@media (max-width: 800px) {
    .next-post p, .prev-post p {
        max-width: 20rem;
    }
    .post-navigator {
        margin: 0 3rem 5rem 3rem;
    }
}

@media (max-width: 650px) {
    .next-post p, .prev-post p {
        max-width: 15rem;
    }
    .post-navigator {
        margin: 0 1rem 5rem 1rem;
    }
}