.search-bar {
    background-color: var(--obsidian-shade);
    color: var(--white);
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.match-entry:not(:last-child) {
    margin-bottom: 1rem;
}

@media(max-width: 480px) {
    .search-bar {
        width: 90% !important;
    }
}