.menuicon {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
}

@media (max-width: 480px) {
    .menuicon-mobile {
        padding: 0.6rem !important;
        width: 3.5rem !important;
        height: 3rem !important;
    }
}

