@font-face {
    font-family: 'encode-sans';
    src: url('/public/EncodeSans.ttf') format('truetype')
}

:root {
    --deep-purple: #2c114f;
    --purple-background: #06040a;
    --black: #000000;
    --black-shade: #666666;
    --black-shade-light: #AAAAAA;
    --red-shade-light: #b17373;
    --orange-shade-light: #b18f73;
    --yellow-shade-light: #b1ae73;
    --green-shade-light: #8bb173;
    --blue-shade-light: #73b19e;
    --deep-blue-shade-light: #738cb1;
    --purple-shade-light: #8c7ec0;
    --pink-shade-light: #b173ad;
    --purple-shade: #8a8790;
    --white: #e8e7e9;
}

body {
    background-color: var(--purple-background);
}

html {
    font-size: 62.5%;
    font-family: 'encode-sans';
    cursor: url("/public/cursor.png"), auto;
}

@media (max-width: 1024px) {
    html {
        font-size: 56.25%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 43.75%;
    }
}

input {
    all: unset;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, 
button, 
input[type="button"], 
input[type="submit"], 
input[type="reset"], 
select, 
label,
[role="button"] {
  cursor: url('/public/pointer.png'), pointer !important;
}

h1 {
    font-weight: 600;
    font-size: 5rem;
}

h2 {
    font-weight: 500;
    font-size: 4rem;
}

li {
    list-style: none;
}

h3 {
    font-weight: 500;
    font-size: 3rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}
